.searchWrapper {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.iframeWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

p {
  color: red;
  font-weight: bold;
}
